In [1]:
import numpy as np
def apk(actual, predicted, k):
    if len(predicted)>k:
        predicted = predicted[:k]
    score = 0.0
    num_hits = 0.0
    for i,p in enumerate(predicted):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i+1.0)
    if not actual:
        return 0.0
    return score / min(len(actual), k)


def mapk(actual, predicted, k):    
  return np.mean([apk(a,p,k) for a,p in zip(actual, predicted)])

actual = [['prod_1','prod_2'], ['prod_3','prod_4','prod_5']]
# Esta es vuestra predicción para ambos los clientes (ordenando los productos según vuestra propensión, de mayor a menor):
predicted = [['prod_2','prod_1','prod_6'], ['prod_5','prod_4','prod_3','prod_1','prod_6']]
# El resultado es perfecto, ya que en el top 2 y top 3 de nuestra predicción (para cada cliente) figuran los 2 y 3 productos que realmente compró cada cliente:
print(mapk(actual, predicted, 4))

1.0

In [5]:
inds=[f'ind_{i}' for i in range(1,25+1)]
predictions=[[8.2556161e-14, 4.8782150e-12, 7.6876330e-01, 1.9379141e-10,
        2.8975064e-02, 5.8960216e-03, 1.7235639e-03, 3.0751782e-03,
        8.7348372e-04, 6.5899411e-07, 3.6027931e-08, 3.1187183e-03,
        2.2808554e-02, 7.2535232e-04, 3.6250373e-07, 6.1518585e-05,
        2.1875539e-06, 9.8511623e-03, 5.2901641e-03, 1.3931792e-03,
        2.9343987e-06, 1.9032551e-02, 2.0134714e-02, 5.7409979e-02,
        6.9743921e-03]]
y_true=[[0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 1., 0.]]

In [21]:
def preparacion(predictions,inds,y_trues):
    for p,t in zip(predictions,y_trues):
        assert len(inds) == len(p), "Las listas inds y predictions deben tener la misma longitud"
        assert len(inds) == len(t)

        # Crear una lista de tuplas (prediccion, etiqueta)
        predicciones_con_etiquetas = list(zip(p, inds))
        threshold=.01
        predicciones_filtradas = [tupla for tupla in predicciones_con_etiquetas if tupla[0] > threshold]
        # Ordenar las tuplas por el valor de la prediccion en orden descendente
        predicciones_ordenadas = [et for punt,et in sorted(predicciones_filtradas, key=lambda x: x[0], reverse=True)]

        t_p=[i for y_t,i in zip(t,inds) if y_t==1]

        yield (predicciones_ordenadas,t_p)

In [22]:
list(preparacion(predictions,inds,y_true))

[[['ind_3', 'ind_24', 'ind_5', 'ind_13', 'ind_23', 'ind_22'],
  ['ind_3', 'ind_18', 'ind_24']]]

In [133]:
import pandas as pd
data=pd.read_csv('../../Data/Limpio/dataset_limpio_parte1.csv')
data1=pd.read_csv('../../Data/Limpio/dataset_limpio_parte2.csv')
data2=pd.read_csv('../../Data/Limpio/dataset_limpio_parte3.csv')
data=pd.concat([data,data1,data2]) # Ajusta el nombre del archivo según corresponda
data.head()

/var/folders/4f/gbmqzwn51yg8gh7yyxzgpcl80000gn/T/ipykernel_17595/932331467.py:2: DtypeWarning: Columns (4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('../../Data/Limpio/dataset_limpio_parte1.csv')
/var/folders/4f/gbmqzwn51yg8gh7yyxzgpcl80000gn/T/ipykernel_17595/932331467.py:3: DtypeWarning: Columns (4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data1=pd.read_csv('../../Data/Limpio/dataset_limpio_parte2.csv')
/var/folders/4f/gbmqzwn51yg8gh7yyxzgpcl80000gn/T/ipykernel_17595/932331467.py:4: DtypeWarning: Columns (4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data2=pd.read_csv('../../Data/Limpio/dataset_limpio_parte3.csv')

,cod_persona,mes,pais,sexo,edad,fecha1,xti_empleado,xti_nuevo_cliente,num_antiguedad,xti_rel,...,ind_prod16,ind_prod17,ind_prod18,ind_prod19,ind_prod20,ind_prod21,ind_prod22,ind_prod23,ind_prod24,ind_prod25
0,5514,2016-04-28,ES,H,44,2016-04-29,N,1.0,0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0
1,5541,2016-04-28,ES,H,60,2016-04-29,N,1.0,0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0
2,5631,2016-04-28,ES,V,53,2016-04-28,N,1.0,0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0
3,5656,2016-04-28,ES,H,47,2016-04-28,N,1.0,0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0
4,5738,2016-04-28,ES,V,48,2016-04-28,N,1.0,0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0

In [129]:
from surprise import Dataset, Reader, KNNWithMeans
from surprise.model_selection import train_test_split
from surprise.accuracy import rmse

# Definimos el lector con el rango de valoraciones (asumiendo que es de 0 a 1)
reader = Reader(rating_scale=(0, 1))

# Cargamos el conjunto de datos desde el DataFrame usando el lector definido
data = Dataset.load_from_df(data[['cod_persona', 'fecha1', 'ind_prod1']], reader)

# Dividimos el conjunto de datos en entrenamiento y prueba (80% entrenamiento, 20% prueba)
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

# Utilizamos el algoritmo de filtrado colaborativo basado en secuencia temporal
algo = KNNWithMeans(k=40, sim_options={'name': 'pearson', 'user_based': True, 'min_support': 3})

# Entrenamos el modelo con el conjunto de entrenamiento
algo.fit(trainset)

# Realizamos predicciones en el conjunto de prueba
predictions = algo.test(testset)

# Evaluamos el rendimiento del modelo utilizando RMSE
accuracy = rmse(predictions)
print("RMSE:", accuracy)

Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 0.0000
RMSE: 2.1587142153188827e-06

[(153327, '2015-06-04', 0.0),
 (1300993, '2003-05-14', 0.0),
 (585034, '2011-10-25', 0.0),
 (56755, '2015-11-02', 0.0),
 (385814, '2013-08-20', 0.0),
 (298417, '2014-04-28', 0.0),
 (1107861, '2003-11-21', 0.0),
 (504959, '2012-08-09', 0.0),
 (1309036, '2001-05-09', 0.0),
 (673478, '2010-05-28', 0.0),
 (913724, '2006-09-11', 0.0),
 (265568, '2014-08-01', 0.0),
 (301756, '2014-04-03', 0.0),
 (274741, '2014-07-28', 0.0),
 (727083, '2009-01-16', 0.0),
 (1351489, '2000-10-31', 0.0),
 (971726, '2005-11-24', 0.0),
 (208395, '2014-10-30', 0.0),
 (1197604, '2002-04-29', 0.0),
 (304001, '2014-03-21', 0.0),
 (1398590, '2000-01-04', 0.0),
 (1444950, '1998-10-21', 0.0),
 (141445, '2015-07-22', 0.0),
 (1271425, '2001-10-15', 0.0),
 (593872, '2011-10-12', 0.0),
 (284467, '2014-07-14', 0.0),
 (265594, '2014-08-01', 0.0),
 (475988, '2012-10-09', 0.0),
 (370048, '2013-09-25', 0.0),
 (542135, '2012-04-09', 0.0),
 (244718, '2014-09-16', 0.0),
 (669745, '2010-06-23', 0.0),
 (710411, '2009-05-25', 0.0),
 (693931, '2009-12-19', 0.0),
 (627530, '2011-08-02', 0.0),
 (631500, '2011-07-27', 0.0),
 (1001420, '2005-08-28', 0.0),
 (994833, '2005-09-22', 0.0),
 (192557, '2014-11-26', 0.0),
 (636183, '2011-07-07', 0.0),
 (1094121, '2004-02-16', 0.0),
 (787370, '2008-05-06', 0.0),
 (1020618, '2005-05-16', 0.0),
 (1395434, '2000-01-31', 0.0),
 (285373, '2014-07-10', 0.0),
 (578817, '2011-11-08', 0.0),
 (622229, '2011-08-10', 0.0),
 (559669, '2011-12-14', 0.0),
 (430983, '2013-02-25', 0.0),
 (426522, '2013-04-08', 0.0),
 (1527479, '1995-10-30', 0.0),
 (717425, '2009-03-02', 0.0),
 (1426080, '1999-04-08', 0.0),
 (625560, '2011-08-04', 0.0),
 (579598, '2011-11-07', 0.0),
 (369447, '2013-09-26', 0.0),
 (1507169, '1996-12-23', 0.0),
 (323931, '2013-12-09', 0.0),
 (730329, '2009-02-19', 0.0),
 (231306, '2014-10-03', 0.0),
 (381747, '2013-09-03', 0.0),
 (1169103, '2002-10-07', 0.0),
 (1495387, '1997-02-27', 0.0),
 (756649, '2008-09-25', 0.0),
 (665088, '2014-06-20', 0.0),
 (83480, '2015-10-06', 0.0),
 (754094, '2008-10-02', 0.0),
 (1234319, '2002-01-21', 0.0),
 (427766, '2013-03-27', 0.0),
 (1349553, '2000-11-11', 0.0),
 (600681, '2011-10-03', 0.0),
 (1391923, '2000-02-21', 0.0),
 (549852, '2012-09-20', 0.0),
 (352162, '2013-10-17', 0.0),
 (1511318, '1996-07-02', 0.0),
 (481057, '2012-10-02', 0.0),
 (1280496, '2001-09-20', 0.0),
 (1464013, '2001-11-16', 0.0),
 (1161176, '2002-11-25', 0.0),
 (381345, '2013-09-04', 0.0),
 (1182145, '2002-07-11', 0.0),
 (389679, '2013-08-12', 0.0),
 (694290, '2009-12-14', 0.0),
 (693670, '2009-12-28', 0.0),
 (117879, '2015-08-17', 0.0),
 (272893, '2014-07-28', 0.0),
 (1401570, '1999-12-07', 0.0),
 (1394763, '2000-02-03', 0.0),
 (177346, '2015-01-15', 0.0),
 (932389, '2006-06-13', 0.0),
 (1011444, '2005-07-18', 0.0),
 (589165, '2011-10-18', 0.0),
 (1435545, '1999-01-25', 0.0),
 (1019662, '2005-05-23', 0.0),
 (1080769, '2004-05-10', 0.0),
 (538350, '2012-05-09', 0.0),
 (56466, '2015-11-03', 0.0),
 (464268, '2012-10-26', 0.0),
 (813217, '2008-01-07', 0.0),
 (332543, '2013-11-18', 0.0),
 (265339, '2014-08-01', 0.0),
 (1042821, '2005-01-10', 0.0),
 (911572, '2006-09-18', 0.0),
 (486930, '2012-09-25', 0.0),
 (835622, '2007-09-05', 0.0),
 (708534, '2009-06-25', 0.0),
 (890704, '2006-12-14', 0.0),
 (1533399, '1995-07-10', 0.0),
 (241818, '2014-09-19', 0.0),
 (797389, '2008-03-25', 0.0),
 (1065547, '2004-08-25', 0.0),
 (1100215, '2004-01-16', 0.0),
 (262551, '2014-08-04', 0.0),
 (625259, '2011-08-04', 0.0),
 (402587, '2013-07-30', 0.0),
 (289457, '2014-06-18', 0.0),
 (173206, '2015-02-05', 0.0),
 (328025, '2013-11-26', 0.0),
 (1273796, '2001-10-08', 0.0),
 (1123484, '2003-08-04', 0.0),
 (1488630, '1997-07-08', 0.0),
 (1474064, '1997-12-15', 0.0),
 (1322420, '2001-03-21', 0.0),
 (164524, '2015-03-24', 0.0),
 (1495477, '1997-02-26', 0.0),
 (228948, '2014-10-03', 0.0),
 (521407, '2012-07-26', 0.0),
 (1112624, '2003-10-22', 0.0),
 (1510063, '1996-07-18', 0.0),
 (882926, '2007-01-22', 0.0),
 (609480, '2011-09-16', 0.0),
 (1374135, '2000-06-23', 0.0),
 (1252564, '2001-11-26', 0.0),
 (403010, '2013-07-29', 0.0),
 (26758, '2016-01-24', 0.0),
 (938024, '2006-05-24', 0.0),
 (98688, '2015-09-21', 0.0),
 (1314195, '2001-04-11', 0.0),
 (524166, '2012-07-24', 0.0),
 (1472775, '1997-12-29', 0.0),
 (102155, '2015-09-16', 0.0),
 (395215, '2013-08-07', 0.0),
 (1109002, '2003-11-13', 0.0),
 (1509933, '1996-07-22', 0.0),
 (449972, '2012-11-21', 0.0),
 (457735, '2012-11-06', 0.0),
 (335652, '2013-11-11', 0.0),
 (545145, '2012-03-13', 0.0),
 (549798, '2012-02-01', 0.0),
 (708851, '2009-06-17', 0.0),
 (884859, '2007-01-15', 0.0),
 (1471541, '1998-01-12', 0.0),
 (700218, '2009-10-05', 0.0),
 (1482897, '1997-08-25', 0.0),
 (1263864, '2001-11-02', 0.0),
 (1436970, '1998-12-28', 0.0),
 (1518190, '1996-03-27', 0.0),
 (359802, '2013-10-09', 0.0),
 (308741, '2014-02-21', 0.0),
 (1173408, '2002-09-02', 0.0),
 (1505316, '1996-10-29', 0.0),
 (1361028, '2000-09-18', 0.0),
 (659752, '2010-10-11', 0.0),
 (219847, '2014-10-15', 0.0),
 (467690, '2012-10-22', 0.0),
 (932761, '2006-06-12', 0.0),
 (307991, '2014-02-26', 0.0),
 (1326461, '2001-03-07', 0.0),
 (211160, '2014-10-27', 0.0),
 (840308, '2007-08-23', 0.0),
 (275605, '2014-07-25', 0.0),
 (826774, '2007-10-23', 0.0),
 (721972, '2009-02-03', 0.0),
 (1221705, '2002-02-19', 0.0),
 (1526953, '1995-10-31', 0.0),
 (283340, '2014-07-17', 0.0),
 (19927, '2016-02-22', 0.0),
 (114704, '2015-08-27', 0.0),
 (1060704, '2004-09-27', 0.0),
 (400390, '2013-08-01', 0.0),
 (465970, '2012-10-24', 0.0),
 (1049825, '2004-11-25', 0.0),
 (1009793, '2005-07-27', 0.0),
 (438125, '2013-01-03', 0.0),
 (1084114, '2015-04-13', 0.0),
 (727044, '2009-01-16', 0.0),
 (349734, '2013-10-21', 0.0),
 (324565, '2013-12-04', 0.0),
 (496722, '2012-09-07', 0.0),
 (385078, '2013-08-23', 0.0),
 (1330078, '2001-02-19', 0.0),
 (1185507, '2002-07-03', 0.0),
 (100916, '2015-09-17', 0.0),
 (646087, '2011-03-23', 0.0),
 (446592, '2012-11-28', 0.0),
 (974470, '2005-11-13', 0.0),
 (597691, '2011-10-06', 0.0),
 (195029, '2014-11-21', 0.0),
 (535338, '2012-06-04', 0.0),
 (631414, '2011-07-27', 0.0),
 (213581, '2014-10-23', 0.0),
 (572845, '2011-11-17', 0.0),
 (375053, '2013-09-18', 0.0),
 (1247141, '2001-12-11', 0.0),
 (1405437, '1999-11-04', 0.0),
 (1090359, '2004-03-09', 0.0),
 (679588, '2010-04-17', 0.0),
 (570352, '2011-11-22', 0.0),
 (341296, '2013-10-31', 0.0),
 (604080, '2011-09-27', 0.0),
 (397944, '2013-08-03', 0.0),
 (920040, '2006-08-13', 0.0),
 (1090104, '2004-03-10', 0.0),
 (575081, '2011-11-14', 0.0),
 (1456712, '1998-05-21', 0.0),
 (1537634, '1995-02-20', 0.0),
 (769629, '2008-08-07', 0.0),
 (1067526, '2004-08-05', 0.0),
 (1412294, '1999-09-01', 0.0),
 (1475698, '1997-12-01', 0.0),
 (763315, '2008-08-29', 0.0),
 (838597, '2007-08-28', 0.0),
 (661149, '2010-09-24', 0.0),
 (990958, '2005-10-05', 0.0),
 (413706, '2013-07-08', 0.0),
 (1214840, '2002-03-06', 0.0),
 (70073, '2015-10-19', 0.0),
 (1222939, '2002-02-14', 0.0),
 (1087663, '2005-11-29', 0.0),
 (573946, '2011-11-15', 0.0),
 (1214840, '2002-03-06', 0.0),
 (782527, '2008-06-02', 0.0),
 (194261, '2014-11-21', 0.0),
 (605028, '2011-09-26', 0.0),
 (1285718, '2001-08-13', 0.0),
 (1021845, '2011-01-31', 0.0),
 (859715, '2007-05-30', 0.0),
 (269143, '2014-07-30', 0.0),
 (1074638, '2004-06-14', 0.0),
 (107969, '2015-09-10', 0.0),
 (1018637, '2005-05-30', 0.0),
 (335718, '2013-11-11', 0.0),
 (463235, '2013-04-11', 0.0),
 (1285960, '2001-08-09', 0.0),
 (1170396, '2002-10-04', 0.0),
 (654644, '2010-12-17', 0.0),
 (1133539, '2003-05-22', 0.0),
 (1335516, '2001-01-26', 0.0),
 (1376245, '2000-05-29', 0.0),
 (382533, '2013-08-29', 0.0),
 (379298, '2013-09-11', 0.0),
 (559450, '2011-12-15', 0.0),
 (282566, '2014-07-18', 0.0),
 (1061160, '2004-09-23', 0.0),
 (475876, '2012-10-09', 0.0),
 (378610, '2013-09-12', 0.0),
 (312153, '2014-02-03', 0.0),
 (169899, '2015-02-20', 0.0),
 (307881, '2014-02-27', 0.0),
 (1288297, '2001-07-30', 0.0),
 (921953, '2006-08-05', 0.0),
 (1184739, '2002-07-05', 0.0),
 (1352303, '2000-10-27', 0.0),
 (81839, '2015-10-07', 0.0),
 (588376, '2011-10-19', 0.0),
 (621147, '2011-08-11', 0.0),
 (366807, '2013-10-01', 0.0),
 (353485, '2013-10-15', 0.0),
 (348135, '2013-10-23', 0.0),
 (1506087, '2003-02-03', 0.0),
 (649765, '2011-02-14', 0.0),
 (52856, '2015-11-10', 0.0),
 (377748, '2013-09-13', 0.0),
 (511759, '2012-08-03', 0.0),
 (499818, '2012-08-24', 0.0),
 (371425, '2013-09-24', 0.0),
 (250584, '2014-09-08', 0.0),
 (244785, '2014-09-16', 0.0),
 (765059, '2008-08-25', 0.0),
 (624870, '2011-08-04', 0.0),
 (1445925, '1998-10-13', 0.0),
 (616411, '2011-08-31', 0.0),
 (231901, '2014-10-03', 0.0),
 (211144, '2014-10-27', 0.0),
 (799402, '2008-03-13', 0.0),
 (701009, '2009-09-25', 0.0),
 (476509, '2012-10-08', 0.0),
 (626107, '2011-08-03', 0.0),
 (1397575, '2000-01-13', 0.0),
 (385305, '2013-08-22', 0.0),
 (968081, '2005-12-15', 0.0),
 (430256, '2013-03-04', 0.0),
 (997227, '2005-09-15', 0.0),
 (385497, '2013-08-21', 0.0),
 (842057, '2007-08-14', 0.0),
 (310634, '2014-02-11', 0.0),
 (1314283, '2001-04-11', 0.0),
 (945208, '2006-04-21', 0.0),
 (1154268, '2003-01-03', 0.0),
 (1225936, '2002-02-06', 0.0),
 (725240, '2009-01-24', 0.0),
 (395292, '2013-08-06', 0.0),
 (600766, '2011-10-03', 0.0),
 (256663, '2014-08-14', 0.0),
 (213267, '2014-10-23', 0.0),
 (538350, '2012-05-09', 0.0),
 (209296, '2014-10-29', 0.0),
 (550641, '2012-01-26', 0.0),
 (612956, '2011-09-12', 0.0),
 (1034938, '2005-02-19', 0.0),
 (1335515, '2001-01-26', 0.0),
 (448055, '2012-11-26', 0.0),
 (555105, '2011-12-22', 0.0),
 (402447, '2013-07-30', 0.0),
 (175561, '2015-01-26', 0.0),
 (1358132, '2000-10-02', 0.0),
 (642176, '2011-04-29', 0.0),
 (583068, '2011-10-28', 0.0),
 (489532, '2012-09-20', 0.0),
 (1193196, '2002-05-27', 0.0),
 (250888, '2014-09-05', 0.0),
 (621147, '2011-08-11', 0.0),
 (688314, '2010-02-16', 0.0),
 (1087847, '2004-03-27', 0.0),
 (343880, '2013-10-28', 0.0),
 (511703, '2012-08-03', 0.0),
 (486111, '2012-09-25', 0.0),
 (189321, '2014-12-02', 0.0),
 (1254791, '2001-11-20', 0.0),
 (764013, '2008-08-28', 0.0),
 (1292541, '2014-02-20', 0.0),
 (398070, '2013-08-03', 0.0),
 (724457, '2009-01-27', 0.0),
 (803482, '2008-02-25', 0.0),
 (590058, '2011-10-17', 0.0),
 (367604, '2013-09-30', 0.0),
 (231149, '2014-10-03', 0.0),
 (122858, '2015-08-06', 0.0),
 (488678, '2012-09-21', 0.0),
 (829656, '2007-10-08', 0.0),
 (813403, '2008-01-05', 0.0),
 (240177, '2014-09-23', 0.0),
 (1375442, '2000-06-07', 0.0),
 (966461, '2005-12-25', 0.0),
 (348592, '2013-10-22', 0.0),
 (372999, '2013-09-23', 0.0),
 (1315498, '2001-04-09', 0.0),
 (803986, '2008-02-22', 0.0),
 (271124, '2014-07-28', 0.0),
 (1103529, '2003-12-23', 0.0),
 (67655, '2015-10-21', 0.0),
 (1528586, '1995-10-24', 0.0),
 (1211731, '2002-03-13', 0.0),
 (1256447, '2005-11-08', 0.0),
 (507593, '2012-08-07', 0.0),
 (837174, '2007-09-04', 0.0),
 (964349, '2006-01-03', 0.0),
 (339566, '2013-11-05', 0.0),
 (223216, '2014-10-10', 0.0),
 (491217, '2012-09-19', 0.0),
 (44198, '2015-11-25', 0.0),
 (245703, '2014-09-16', 0.0),
 (400911, '2013-08-01', 0.0),
 (519108, '2012-07-28', 0.0),
 (98045, '2015-09-21', 0.0),
 (349874, '2013-10-21', 0.0),
 (549297, '2012-02-07', 0.0),
 (1004094, '2005-08-18', 0.0),
 (306618, '2014-03-06', 0.0),
 (361098, '2013-10-08', 0.0),
 (1425665, '1999-04-13', 0.0),
 (156960, '2015-05-12', 0.0),
 (1142572, '2003-03-14', 0.0),
 (609467, '2011-09-16', 0.0),
 (652421, '2011-01-17', 0.0),
 (714875, '2009-03-18', 0.0),
 (658013, '2010-11-02', 0.0),
 (1089081, '2004-03-18', 0.0),
 (365925, '2013-10-02', 0.0),
 (810037, '2008-01-25', 0.0),
 (49610, '2015-11-14', 0.0),
 (453930, '2012-11-13', 0.0),
 (506405, '2012-08-08', 0.0),
 (552755, '2012-01-05', 0.0),
 (1132935, '2003-05-27', 0.0),
 (1201863, '2002-04-17', 0.0),
 (1320970, '2002-03-11', 0.0),
 (327849, '2013-11-27', 0.0),
 (716677, '2009-03-02', 0.0),
 (755559, '2008-09-29', 0.0),
 (1463339, '1998-04-07', 0.0),
 (1289771, '2001-07-23', 0.0),
 (968934, '2005-12-12', 0.0),
 (126044, '2015-08-04', 0.0),
 (1422700, '2007-10-03', 0.0),
 (1215376, '2002-11-22', 0.0),
 (1079395, '2004-05-17', 0.0),
 (145930, '2015-07-17', 0.0),
 (1349720, '2000-11-10', 0.0),
 (1244239, '2001-12-20', 0.0),
 (1198242, '2002-04-26', 0.0),
 (703658, '2009-08-24', 0.0),
 (315306, '2014-01-16', 0.0),
 (920066, '2006-08-12', 0.0),
 (738124, '2008-11-10', 0.0),
 (377476, '2013-09-16', 0.0),
 (479128, '2012-10-04', 0.0),
 (594303, '2011-10-11', 0.0),
 (1528218, '1995-10-26', 0.0),
 (511766, '2012-08-03', 0.0),
 (942658, '2006-05-03', 0.0),
 (247068, '2014-09-12', 0.0),
 (429430, '2013-03-11', 0.0),
 (1529588, '1997-04-14', 0.0),
 (573247, '2011-11-16', 0.0),
 (661315, '2010-09-22', 0.0),
 (1297009, '2001-06-26', 0.0),
 (215443, '2014-10-21', 0.0),
 (947253, '2006-04-18', 0.0),
 (1386432, '2000-11-08', 0.0),
 (207864, '2014-10-31', 0.0),
 (1044290, '2005-02-21', 0.0),
 (680577, '2010-04-13', 0.0),
 (1255118, '2001-11-20', 0.0),
 (1234368, '2002-01-21', 0.0),
 (1265222, '2001-10-30', 0.0),
 (358513, '2013-10-10', 0.0),
 (1474772, '1997-12-10', 0.0),
 (1076361, '2004-06-01', 0.0),
 (400690, '2013-08-01', 0.0),
 (1506240, '1996-11-04', 0.0),
 (692739, '2010-01-10', 0.0),
 (390923, '2013-08-10', 0.0),
 (627258, '2011-08-02', 0.0),
 (1132027, '2003-06-03', 0.0),
 (1069419, '2004-07-21', 0.0),
 (1441325, '1998-11-24', 0.0),
 (1401042, '2001-10-29', 0.0),
 (411544, '2013-07-18', 0.0),
 (1261148, '2001-11-08', 0.0),
 (456278, '2012-11-08', 0.0),
 (296626, '2014-05-08', 0.0),
 (700533, '2009-09-30', 0.0),
 (1252249, '2001-11-26', 0.0),
 (247160, '2014-09-12', 0.0),
 (817141, '2007-12-10', 0.0),
 (79212, '2015-10-09', 0.0),
 (965338, '2005-12-29', 0.0),
 (1257733, '2001-12-10', 0.0),
 (624090, '2011-08-05', 0.0),
 (267705, '2014-07-31', 0.0),
 (363612, '2013-10-04', 0.0),
 (75802, '2015-10-13', 0.0),
 (828531, '2007-10-11', 0.0),
 (1328811, '2001-02-26', 0.0),
 (764381, '2008-08-28', 0.0),
 (334943, '2013-11-12', 0.0),
 (256703, '2014-08-14', 0.0),
 (343767, '2013-10-28', 0.0),
 (1415738, '1999-07-12', 0.0),
 (1371724, '2000-07-12', 0.0),
 (1120305, '2003-09-02', 0.0),
 (397214, '2013-08-03', 0.0),
 (357447, '2013-10-11', 0.0),
 (908701, '2006-09-30', 0.0),
 (1146051, '2003-02-18', 0.0),
 (1005643, '2005-08-11', 0.0),
 (341564, '2013-10-30', 0.0),
 (723588, '2010-04-07', 0.0),
 (1439053, '1998-12-11', 0.0),
 (950250, '2006-03-18', 0.0),
 (600968, '2011-10-01', 0.0),
 (144817, '2015-07-20', 0.0),
 (626545, '2011-08-03', 0.0),
 (40116, '2015-12-04', 0.0),
 (371970, '2013-09-23', 0.0),
 (705880, '2009-07-28', 0.0),
 (1454838, '2002-06-25', 0.0),
 (318512, '2014-01-02', 0.0),
 (469233, '2012-10-19', 0.0),
 (1087881, '2004-03-27', 0.0),
 (950991, '2006-03-15', 0.0),
 (203551, '2014-11-06', 0.0),
 (880523, '2007-01-30', 0.0),
 (282816, '2014-07-17', 0.0),
 (1467447, '1998-02-18', 0.0),
 (329351, '2013-11-22', 0.0),
 (265594, '2014-08-01', 0.0),
 (593317, '2011-10-13', 0.0),
 (237117, '2014-09-25', 0.0),
 (293191, '2014-05-29', 0.0),
 (621689, '2011-08-10', 0.0),
 (341319, '2013-10-31', 0.0),
 (490105, '2012-09-20', 0.0),
 (447903, '2012-11-26', 0.0),
 (814777, '2007-12-28', 0.0),
 (1262739, '2001-11-05', 0.0),
 (1121763, '2006-06-08', 0.0),
 (1322724, '2001-05-08', 0.0),
 (406358, '2013-07-24', 0.0),
 (339303, '2013-11-05', 0.0),
 (219128, '2014-10-16', 0.0),
 (1120809, '2003-08-29', 0.0),
 (1069419, '2004-07-21', 0.0),
 (694290, '2009-12-14', 0.0),
 (382661, '2013-08-29', 0.0),
 (439598, '2012-12-19', 0.0),
 (1437635, '1998-12-22', 0.0),
 (1488138, '1997-06-10', 0.0),
 (135913, '2015-07-27', 0.0),
 (1378631, '2008-01-02', 0.0),
 (1373530, '2000-06-30', 0.0),
 (1456547, '1998-06-12', 0.0),
 (406517, '2013-07-24', 0.0),
 (483903, '2012-09-28', 0.0),
 (1146366, '2003-02-17', 0.0),
 (415196, '2013-06-26', 0.0),
 (787370, '2008-05-06', 0.0),
 (1065572, '2004-08-25', 0.0),
 (1491475, '1997-04-18', 0.0),
 (270708, '2014-07-29', 0.0),
 (1430818, '1999-02-22', 0.0),
 (880642, '2007-01-30', 0.0),
 (461693, '2012-10-30', 0.0),
 (404492, '2013-07-27', 0.0),
 (499138, '2012-08-29', 0.0),
 (1015885, '2005-06-17', 0.0),
 (1121803, '2004-12-20', 0.0),
 (680879, '2010-04-12', 0.0),
 (452511, '2012-11-15', 0.0),
 (890097, '2006-12-18', 0.0),
 (1107027, '2003-11-26', 0.0),
 (631653, '2011-07-26', 0.0),
 (665608, '2010-08-09', 0.0),
 (66008, '2015-10-22', 0.0),
 (1135865, '2003-05-06', 0.0),
 (1467149, '1998-02-20', 0.0),
 (966749, '2005-12-22', 0.0),
 (625282, '2011-08-04', 0.0),
 (617088, '2011-08-26', 0.0),
 (479128, '2012-10-04', 0.0),
 (1455268, '1998-06-03', 0.0),
 (1461259, '1998-04-13', 0.0),
 (327176, '2013-11-27', 0.0),
 (1258427, '2001-11-13', 0.0),
 (89975, '2015-09-29', 0.0),
 (1500603, '1996-12-30', 0.0),
 (950689, '2006-03-16', 0.0),
 (1167194, '2002-10-19', 0.0),
 (632325, '2011-07-22', 0.0),
 (650888, '2011-02-03', 0.0),
 (674355, '2010-05-21', 0.0),
 (541622, '2012-04-12', 0.0),
 (704666, '2009-08-07', 0.0),
 (426221, '2013-04-10', 0.0),
 (718695, '2009-02-18', 0.0),
 (333105, '2013-11-15', 0.0),
 (1139827, '2003-04-04', 0.0),
 (671137, '2010-06-14', 0.0),
 (1061512, '2004-09-21', 0.0),
 (484326, '2012-09-27', 0.0),
 (199066, '2014-11-14', 0.0),
 (369971, '2013-09-26', 0.0),
 (893871, '2006-11-29', 0.0),
 (900661, '2006-11-01', 0.0),
 (562634, '2012-10-23', 0.0),
 (1135496, '2003-05-07', 0.0),
 (136641, '2015-07-25', 0.0),
 (561223, '2011-12-12', 0.0),
 (441242, '2012-12-13', 0.0),
 (1187287, '2002-06-28', 0.0),
 (643204, '2011-04-15', 0.0),
 (591948, '2011-10-14', 0.0),
 (141207, '2015-07-23', 0.0),
 (872620, '2007-03-07', 0.0),
 (927987, '2006-07-05', 0.0),
 (373636, '2013-09-20', 0.0),
 (455478, '2012-11-12', 0.0),
 (556702, '2011-12-19', 0.0),
 (965682, '2005-12-28', 0.0),
 (295328, '2014-05-16', 0.0),
 (32193, '2016-01-06', 0.0),
 (856327, '2007-06-15', 0.0),
 (1424297, '1999-06-08', 0.0),
 (1090387, '2004-03-09', 0.0),
 (220119, '2014-10-15', 0.0),
 (299510, '2014-04-21', 0.0),
 (1109629, '2003-11-10', 0.0),
 (1242542, '2001-12-27', 0.0),
 (336564, '2013-11-08', 0.0),
 (751760, '2008-10-07', 0.0),
 (1249469, '2015-07-30', 0.0),
 (183528, '2014-12-17', 0.0),
 (675958, '2010-05-10', 0.0),
 (74345, '2015-10-14', 0.0),
 (1433326, '1999-01-28', 0.0),
 (254227, '2014-08-28', 0.0),
 (1497814, '1997-03-04', 0.0),
 (1299200, '2001-06-18', 0.0),
 (667575, '2010-07-16', 0.0),
 (60953, '2015-10-28', 0.0),
 (135778, '2015-07-27', 0.0),
 (256782, '2014-08-13', 0.0),
 (705755, '2009-07-28', 0.0),
 (370464, '2013-09-25', 0.0),
 (837142, '2007-09-04', 0.0),
 (827427, '2007-10-19', 0.0),
 (916270, '2006-08-28', 0.0),
 (1056858, '2004-10-18', 0.0),
 (1327125, '2001-03-05', 0.0),
 (1455951, '1998-05-28', 0.0),
 (556281, '2011-12-20', 0.0),
 (521308, '2012-07-26', 0.0),
 (576717, '2011-11-10', 0.0),
 (1172019, '2002-09-16', 0.0),
 (317385, '2014-01-07', 0.0),
 (1195837, '2002-05-07', 0.0),
 (1362757, '2000-09-07', 0.0),
 (124890, '2015-08-05', 0.0),
 (549169, '2012-02-08', 0.0),
 (264369, '2014-08-04', 0.0),
 (971646, '2005-11-25', 0.0),
 (1377853, '2000-05-11', 0.0),
 (249565, '2014-09-09', 0.0),
 (412154, '2013-07-17', 0.0),
 (800478, '2008-03-10', 0.0),
 (85247, '2015-10-02', 0.0),
 (1439053, '1998-12-11', 0.0),
 (822084, '2007-11-09', 0.0),
 (392758, '2013-08-09', 0.0),
 (397901, '2013-08-03', 0.0),
 (1513241, '1996-06-03', 0.0),
 (701998, '2009-09-11', 0.0),
 (899240, '2006-11-06', 0.0),
 (517978, '2012-07-30', 0.0),
 (507484, '2012-08-07', 0.0),
 (1257369, '2001-11-15', 0.0),
 (1461105, '1998-04-14', 0.0),
 (864112, '2007-05-06', 0.0),
 (726859, '2009-01-18', 0.0),
 (963546, '2006-01-08', 0.0),
 (472224, '2012-10-16', 0.0),
 (846022, '2007-07-31', 0.0),
 (1312454, '2001-04-19', 0.0),
 (353150, '2014-12-18', 0.0),
 (1313835, '2001-04-12', 0.0),
 (1337885, '2001-01-17', 0.0),
 (135404, '2015-07-27', 0.0),
 (529746, '2012-07-17', 0.0),
 (1282983, '2001-09-05', 0.0),
 (865522, '2007-04-25', 0.0),
 (351091, '2013-10-18', 0.0),
 (1260653, '2001-11-08', 0.0),
 (331977, '2013-11-19', 0.0),
 (1265011, '2001-10-30', 0.0),
 (1460612, '1998-04-20', 0.0),
 (1291650, '2001-07-16', 0.0),
 (928063, '2006-07-04', 0.0),
 (1417863, '1999-06-22', 0.0),
 (229497, '2014-10-03', 0.0),

In [40]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules


# Asegurarse de que las fechas estén en el formato adecuado
data['fecha1'] = pd.to_datetime(data['fecha1'])

# Ordenar los datos por usuario y fecha
data = data.sort_values(by=['cod_persona', 'fecha1'])

# Seleccionar solo las columnas relevantes para productos
productos_cols = [f'ind_prod{i}' for i in range(1, 26)]
transacciones = data.groupby('cod_persona')[productos_cols].all().astype(int)
frq_items = apriori(transacciones, min_support = 0.01, use_colnames = True)

/Users/mariolamas/anaconda3/envs/entorno_prueba/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [41]:
frq_items

     support                                         itemsets
0   0.555890                                      (ind_prod3)
1   0.049531                                      (ind_prod5)
2   0.107270                                      (ind_prod8)
3   0.034396                                      (ind_prod9)
4   0.022467                                     (ind_prod12)
5   0.058958                                     (ind_prod13)
6   0.012655                                     (ind_prod14)
7   0.040659                                     (ind_prod18)
8   0.019004                                     (ind_prod19)
9   0.019603                                     (ind_prod20)
10  0.021783                                     (ind_prod22)
11  0.022147                                     (ind_prod23)
12  0.072062                                     (ind_prod24)
13  0.036512                                     (ind_prod25)
14  0.067637                           (ind_prod8, ind_prod3)
15  0.016482                           (ind_prod3, ind_prod9)
16  0.014237                          (ind_prod12, ind_prod3)
17  0.026957                          (ind_prod13, ind_prod3)
18  0.015734                          (ind_prod3, ind_prod18)
19  0.012249                          (ind_prod20, ind_prod3)
20  0.029607                          (ind_prod24, ind_prod3)
21  0.017422                          (ind_prod25, ind_prod3)
22  0.020116                          (ind_prod13, ind_prod5)
23  0.015755                          (ind_prod5, ind_prod18)
24  0.010240                          (ind_prod19, ind_prod5)
25  0.019731                          (ind_prod5, ind_prod22)
26  0.020052                          (ind_prod5, ind_prod23)
27  0.033370                          (ind_prod5, ind_prod24)
28  0.013788                          (ind_prod25, ind_prod5)
29  0.013190                          (ind_prod24, ind_prod8)
30  0.010560                          (ind_prod25, ind_prod8)
31  0.012719                          (ind_prod24, ind_prod9)
32  0.012655                         (ind_prod13, ind_prod18)
33  0.023258                         (ind_prod13, ind_prod24)
34  0.012185                         (ind_prod25, ind_prod13)
35  0.021655                         (ind_prod24, ind_prod18)
36  0.013083                         (ind_prod19, ind_prod24)
37  0.019004                         (ind_prod25, ind_prod19)
38  0.019603                         (ind_prod25, ind_prod20)
39  0.021783                         (ind_prod23, ind_prod22)
40  0.016418                         (ind_prod24, ind_prod22)
41  0.016717                         (ind_prod23, ind_prod24)
42  0.018513                         (ind_prod25, ind_prod24)
43  0.012249              (ind_prod25, ind_prod20, ind_prod3)
44  0.015092              (ind_prod13, ind_prod5, ind_prod24)
45  0.012976              (ind_prod5, ind_prod24, ind_prod18)
46  0.010240              (ind_prod25, ind_prod5, ind_prod19)
47  0.019731              (ind_prod5, ind_prod23, ind_prod22)
48  0.015199              (ind_prod5, ind_prod24, ind_prod22)
49  0.015498              (ind_prod5, ind_prod23, ind_prod24)
50  0.011351              (ind_prod25, ind_prod5, ind_prod24)
51  0.013083             (ind_prod25, ind_prod24, ind_prod19)
52  0.016418             (ind_prod23, ind_prod24, ind_prod22)
53  0.015199  (ind_prod5, ind_prod23, ind_prod24, ind_prod22)

In [119]:
rules = association_rules(frq_items, metric ="lift", min_threshold = .1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
51,(ind_prod22),(ind_prod23),0.021783,0.022147,0.021783,1.000000,45.153475,0.021301,inf,0.999628
83,"(ind_prod5, ind_prod22)",(ind_prod23),0.019731,0.022147,0.019731,1.000000,45.153475,0.019294,inf,0.997536
114,"(ind_prod24, ind_prod22)",(ind_prod23),0.016418,0.022147,0.016418,1.000000,45.153475,0.016054,inf,0.994175
120,"(ind_prod5, ind_prod24, ind_prod22)",(ind_prod23),0.015199,0.022147,0.015199,1.000000,45.153475,0.014863,inf,0.992945
47,(ind_prod19),(ind_prod25),0.019004,0.036512,0.019004,1.000000,27.388173,0.018310,inf,0.982153
...,...,...,...,...,...,...,...,...,...,...
2,(ind_prod3),(ind_prod9),0.555890,0.034396,0.016482,0.029649,0.862004,-0.002639,0.995108,-0.264960
8,(ind_prod3),(ind_prod18),0.555890,0.040659,0.015734,0.028303,0.696110,-0.006869,0.987284,-0.495710
5,(ind_prod3),(ind_prod12),0.555890,0.022467,0.014237,0.025611,1.139941,0.001748,1.003227,0.276422
11,(ind_prod3),(ind_prod20),0.555890,0.019603,0.012249,0.022035,1.124077,0.001352,1.002487,0.248545
63,(ind_prod3),"(ind_prod25, ind_prod20)",0.555890,0.019603,0.012249,0.022035,1.124077,0.001352,1.002487,0.248545

In [120]:
list(data['cod_persona'].unique())

[5514,
 5541,
 5631,
 5656,
 5738,
 5841,
 5863,
 5880,
 5902,
 5926,
 5931,
 5936,
 5956,
 6032,
 6035,
 6051,
 6107,
 6179,
 6219,
 6221,
 6230,
 6250,
 6309,
 6317,
 6337,
 6342,
 6344,
 6366,
 6388,
 6392,
 6418,
 6479,
 6483,
 6512,
 6536,
 6676,
 6683,
 6708,
 6732,
 6779,
 6824,
 6855,
 6867,
 6877,
 6943,
 6947,
 7087,
 7107,
 7135,
 7150,
 7174,
 7201,
 7261,
 7262,
 7265,
 7301,
 7331,
 7341,
 7418,
 7510,
 7517,
 7521,
 7550,
 7563,
 7573,
 7606,
 7628,
 7634,
 7635,
 7652,
 7669,
 7722,
 7741,
 7761,
 7821,
 7929,
 7978,
 8038,
 8069,
 8108,
 8122,
 8126,
 8144,
 8145,
 8154,
 8184,
 8297,
 8302,
 8327,
 8333,
 8417,
 8424,
 8431,
 8442,
 8459,
 8474,
 8478,
 8510,
 8545,
 8549,
 8553,
 8558,
 8579,
 8584,
 8599,
 8610,
 8617,
 8621,
 8636,
 8732,
 8741,
 8750,
 8771,
 8815,
 8822,
 8825,
 8858,
 8894,
 8909,
 8940,
 8952,
 8975,
 8987,
 8993,
 9039,
 9059,
 9087,
 9108,
 9116,
 9145,
 9225,
 9227,
 9228,
 9260,
 9264,
 9315,
 9379,
 9392,
 9507,
 9511,
 9590,
 9622,
 9674,
 9732,
 9738,
 9739,
 9762,
 9777,
 9796,
 9797,
 9812,
 9838,
 9872,
 9880,
 9883,
 9892,
 9912,
 9927,
 9944,
 9970,
 9982,
 9997,
 10004,
 10016,
 10172,
 10231,
 10236,
 10267,
 10268,
 10296,
 10333,
 10410,
 10490,
 10506,
 10517,
 10532,
 10577,
 10607,
 10631,
 10653,
 10680,
 10697,
 10727,
 10788,
 10790,
 10792,
 10825,
 10861,
 10868,
 10891,
 10914,
 10936,
 10969,
 10972,
 10996,
 11011,
 11057,
 11061,
 11075,
 11146,
 11156,
 11178,
 11196,
 11203,
 11235,
 11347,
 11351,
 11391,
 11438,
 11444,
 11483,
 11507,
 11518,
 11535,
 11576,
 11598,
 11603,
 11617,
 11673,
 11750,
 11807,
 11826,
 11829,
 11857,
 11860,
 11864,
 11922,
 11924,
 11961,
 11963,
 11971,
 11983,
 12036,
 12061,
 12076,
 12150,
 12185,
 12208,
 12209,
 12248,
 12313,
 12327,
 12341,
 12391,
 12413,
 12510,
 12547,
 12563,
 12580,
 12583,
 12587,
 12604,
 12663,
 12701,
 12708,
 12710,
 12718,
 12719,
 12726,
 12758,
 12806,
 12811,
 12821,
 12868,
 12873,
 12883,
 12902,
 12917,
 13026,
 13030,
 13068,
 13072,
 13088,
 13091,
 13096,
 13110,
 13118,
 13127,
 13136,
 13144,
 13147,
 13217,
 13289,
 13297,
 13321,
 13372,
 13388,
 13392,
 13406,
 13411,
 13435,
 13465,
 13561,
 13585,
 13675,
 13696,
 13698,
 13701,
 13725,
 13770,
 13883,
 13927,
 13961,
 14015,
 14029,
 14200,
 14213,
 14216,
 14257,
 14496,
 14504,
 14540,
 14603,
 14656,
 14700,
 14708,
 14723,
 14727,
 14739,
 14763,
 14776,
 14782,
 14788,
 14801,
 14806,
 14866,
 14882,
 14908,
 14953,
 14998,
 15005,
 15033,
 15036,
 15055,
 15073,
 15109,
 15130,
 15190,
 15239,
 15258,
 15283,
 15292,
 15304,
 15348,
 15364,
 15386,
 15390,
 15402,
 15448,
 15506,
 15584,
 15623,
 15646,
 15665,
 15707,
 15717,
 15743,
 15754,
 15762,
 15811,
 15816,
 15853,
 15901,
 15918,
 16054,
 16065,
 16136,
 16152,
 16202,
 16321,
 16393,
 16418,
 16420,
 16438,
 16439,
 16447,
 16466,
 16475,
 16478,
 16486,
 16532,
 16563,
 16565,
 16602,
 16608,
 16637,
 16642,
 16707,
 16739,
 16762,
 16766,
 16826,
 16827,
 16850,
 16870,
 16895,
 16963,
 16999,
 17003,
 17117,
 17128,
 17143,
 17156,
 17173,
 17195,
 17198,
 17206,
 17223,
 17282,
 17339,
 17344,
 17345,
 17346,
 17371,
 17423,
 17445,
 17460,
 17467,
 17500,
 17501,
 17539,
 17541,
 17605,
 17645,
 17658,
 17703,
 17710,
 17748,
 17830,
 17853,
 17855,
 17901,
 17966,
 17973,
 18043,
 18044,
 18154,
 18157,
 18197,
 18225,
 18267,
 18269,
 18284,
 18287,
 18296,
 18316,
 18333,
 18377,
 18408,
 18409,
 18476,
 18500,
 18518,
 18521,
 18523,
 18558,
 18559,
 18560,
 18592,
 18602,
 18605,
 18609,
 18611,
 18635,
 18657,
 18671,
 18756,
 18760,
 18769,
 18871,
 18983,
 18992,
 19031,
 19044,
 19191,
 19194,
 19252,
 19280,
 19317,
 19328,
 19438,
 19529,
 19586,
 19594,
 19601,
 19722,
 19725,
 19732,
 19777,
 19796,
 19853,
 19861,
 19886,
 19900,
 19927,
 19960,
 19974,
 19977,
 20020,
 20087,
 20106,
 20131,
 20135,
 20192,
 20195,
 20206,
 20224,
 20256,
 20305,
 20347,
 20360,
 20390,
 20392,
 20395,
 20443,
 20451,
 20455,
 20482,
 20530,
 20551,
 20552,
 20597,
 20644,
 20674,
 20684,
 20808,
 20861,
 20872,
 20883,
 20929,
 20958,
 20959,
 20960,
 20996,
 21010,
 21028,
 21065,
 21072,
 21150,
 21161,
 21186,
 21187,
 21217,
 21228,
 21250,
 21320,
 21324,
 21329,
 21364,
 21368,
 21402,
 21403,
 21418,
 21422,
 21424,
 21432,
 21455,
 21461,
 21558,
 21564,
 21574,
 21644,
 21646,
 21659,
 21685,
 21689,
 21796,
 21851,
 21914,
 21915,
 21933,
 21968,
 21986,
 22008,
 22041,
 22049,
 22063,
 22073,
 22099,
 22118,
 22219,
 22253,
 22255,
 22282,
 22349,
 22364,
 22379,
 22386,
 22393,
 22395,
 22444,
 22464,
 22481,
 22491,
 22518,
 22560,
 22593,
 22632,
 22638,
 22662,
 22667,
 22689,
 22767,
 22783,
 22810,
 22924,
 22961,
 22977,
 22993,
 23009,
 23035,
 23048,
 23077,
 23084,
 23133,
 23142,
 23161,
 23252,
 23263,
 23272,
 23273,
 23289,
 23298,
 23308,
 23319,
 23417,
 23459,
 23497,
 23527,
 23540,
 23591,
 23605,
 23638,
 23647,
 23649,
 23702,
 23741,
 23762,
 23785,
 23832,
 23834,
 23865,
 23867,
 23902,
 23937,
 23949,
 23968,
 24019,
 24021,
 24027,
 24028,
 24047,
 24080,
 24121,
 24137,
 24152,
 24220,
 24273,
 24276,
 24286,
 24327,
 24423,
 24449,
 24457,
 24461,
 24468,
 24476,
 24487,
 24493,
 24504,
 24517,
 24594,
 24620,
 24635,
 24723,
 24749,
 24769,
 24784,
 24866,
 24893,
 24949,
 24951,
 24965,
 25002,
 25035,
 25055,
 25087,
 25097,
 25101,
 25102,
 25105,
 25117,
 25122,
 25220,
 25237,
 25270,
 25275,
 25293,
 25304,
 25312,
 25409,
 25441,
 25476,
 25491,
 25505,
 25515,
 25523,
 25574,
 25594,
 25633,
 25673,
 25685,
 25713,
 25723,
 25750,
 25757,
 25786,
 25807,
 25874,
 25888,
 25897,
 25911,
 25918,
 25923,
 26025,
 26057,
 26058,
 26077,
 26106,
 26176,
 26182,
 26277,
 26410,
 26427,
 26461,
 26470,
 26474,
 26476,
 26477,
 26482,
 26497,
 26554,
 26575,
 26607,
 26609,
 26709,
 26710,
 26758,
 26769,
 26793,
 26805,
 26810,
 26818,
 26836,
 26862,
 26879,
 26895,
 26897,
 26923,
 26933,
 26960,
 26969,
 27031,
 27055,
 27057,
 27176,
 27189,
 27208,
 27225,
 27234,
 27241,
 27246,
 27271,
 27328,
 27381,
 27448,
 27450,
 27463,
 27505,
 27518,
 27539,
 27561,
 27583,
 27585,
 27634,
 27656,
 27678,
 27802,
 27821,
 27895,
 27904,
 27924,
 27933,
 27950,
 27984,
 27989,
 28006,
 28016,
 28018,
 28054,
 28075,
 28116,
 28120,
 28126,
 28139,
 28149,
 28159,
 28171,
 28190,
 28206,
 28258,
 28313,
 28348,
 28373,
 28419,
 28454,
 28466,
 28520,
 28608,
 28614,
 28633,
 28638,
 28674,
 28700,
 28749,
 28784,
 28796,
 28808,
 28855,
 28856,
 28894,
 28937,
 28967,
 29005,
 29028,
 29065,
 29096,
 29125,
 29133,
 29166,
 29191,
 29426,
 29428,
 29432,
 29449,
 29456,
 29460,
 29504,
 29558,
 29629,
 29687,
 29706,
 29749,
 29793,
 29897,
 29911,
 29920,
 29955,
 29981,
 29994,
 29999,
 30004,
 30060,
 30089,
 30131,
 30138,
 30183,
 30215,
 30224,
 30227,
 30253,
 30284,
 30292,
 30297,
 30317,
 30381,
 30385,
 30392,
 30402,
 30410,
 30420,
 30467,
 30502,
 30647,
 30668,
 30680,
 30693,
 30713,
 30800,
 30833,
 30847,
 30878,
 30922,
 31030,
 31065,
 31131,
 31148,
 31156,
 31158,
 31254,
 31261,
 31279,
 31284,
 31299,
 31305,
 31320,
 31327,
 31345,
 31383,
 31392,
 31402,
 31408,
 31473,
 31478,
 31489,
 31545,
 31555,
 31574,
 31582,
 31616,
 31654,
 31673,
 31744,
 31746,
 31771,
 31781,
 31813,
 31822,
 31859,
 31860,
 31918,
 31946,
 31947,
 31968,
 32016,
 32051,
 32058,
 32065,
 32077,
 32151,
 32153,
 32165,
 32193,
 32203,
 32229,
 32240,
 32303,
 32322,
 32408,
 32417,
 32429,
 32503,
 32512,
 32529,
 32585,
 32603,
 32617,
 32669,
 32716,
 32753,
 32817,
 32834,
 32838,
 32840,
 32857,
 32868,
 32875,
 32876,
 32883,
 32892,
 32922,
 33009,
 33072,
 33110,
 33117,
 33163,
 33328,
 33334,
 33397,
 33406,
 33423,
 33492,
 33526,
 33531,
 33542,
 33556,
 33582,
 33604,
 33629,
 33639,
 33688,
 33689,
 33722,
 33726,
 33731,
 33736,
 33816,
 33841,
 33846,
 33874,
 ...]

In [121]:
data_user=data[data['cod_persona']==33542].sort_values('mes')
inds=[f'ind_{i}' for i in range(1,26)]
data_user

,cod_persona,mes,pais,sexo,edad,fecha1,xti_empleado,xti_nuevo_cliente,num_antiguedad,xti_rel,...,ind_prod16,ind_prod17,ind_prod18,ind_prod19,ind_prod20,ind_prod21,ind_prod22,ind_prod23,ind_prod24,ind_prod25
2627,33542,2015-12-28,ES,H,39,2015-12-30,N,1.0,0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0
2628,33542,2016-01-28,ES,H,39,2015-12-30,N,1.0,1,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0
2629,33542,2016-02-28,ES,H,39,2015-12-30,N,1.0,2,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0
2630,33542,2016-03-28,ES,H,39,2015-12-30,N,1.0,3,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0
2631,33542,2016-04-28,ES,H,39,2015-12-30,N,1.0,4,1.0,...,0,0,0,0,0,0,0.0,0.0,0,0

In [122]:
import numpy as np
res=[inds[elem-1] for elem in list(np.where(data_user.iloc[3,-25:]==1)[0])]
reales=[inds[elem-1] for elem in list(np.where(data_user.iloc[3+1,-25:]==1)[0])]
res,reales

([], [])

In [123]:
# Lista de productos que ha comprado el usuario
productos_comprados = res

# Filtrar las reglas de asociación
reglas_filtradas = rules[rules['antecedents'].apply(lambda x: all(producto in x for producto in productos_comprados))]

reglas_filtradas

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
51,(ind_prod22),(ind_prod23),0.021783,0.022147,0.021783,1.000000,45.153475,0.021301,inf,0.999628
83,"(ind_prod5, ind_prod22)",(ind_prod23),0.019731,0.022147,0.019731,1.000000,45.153475,0.019294,inf,0.997536
114,"(ind_prod24, ind_prod22)",(ind_prod23),0.016418,0.022147,0.016418,1.000000,45.153475,0.016054,inf,0.994175
120,"(ind_prod5, ind_prod24, ind_prod22)",(ind_prod23),0.015199,0.022147,0.015199,1.000000,45.153475,0.014863,inf,0.992945
47,(ind_prod19),(ind_prod25),0.019004,0.036512,0.019004,1.000000,27.388173,0.018310,inf,0.982153
...,...,...,...,...,...,...,...,...,...,...
2,(ind_prod3),(ind_prod9),0.555890,0.034396,0.016482,0.029649,0.862004,-0.002639,0.995108,-0.264960
8,(ind_prod3),(ind_prod18),0.555890,0.040659,0.015734,0.028303,0.696110,-0.006869,0.987284,-0.495710
5,(ind_prod3),(ind_prod12),0.555890,0.022467,0.014237,0.025611,1.139941,0.001748,1.003227,0.276422
11,(ind_prod3),(ind_prod20),0.555890,0.019603,0.012249,0.022035,1.124077,0.001352,1.002487,0.248545
63,(ind_prod3),"(ind_prod25, ind_prod20)",0.555890,0.019603,0.012249,0.022035,1.124077,0.001352,1.002487,0.248545

In [124]:
# Ordenar las reglas filtradas por confianza o lift
regla_mejor = reglas_filtradas.sort_values(by=['confidence'], ascending=False).iloc[0]

# Seleccionar el producto consecuente como recomendación
recomendacion = regla_mejor['consequents']

print("La mejor recomendación para el usuario basada en sus compras previas es:")
print(recomendacion)
print(reales)

La mejor recomendación para el usuario basada en sus compras previas es:
frozenset({'ind_prod23'})
[]

## **Prueba simple**

In [136]:
inds=[f'ind_prod{i}' for i in range(1,26)]
data['productos'] = data.apply(lambda x: [ind for ind in inds if x[ind] > 0], axis=1)

data = {'user_id': [1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4],
        'product_id': [['A', 'B'], ['B', 'C'], ['B', 'C'], ['C', 'D'], ['D', 'E'],
                       ['A', 'B'], ['C', 'D'], ['D', 'E'], ['E', 'F'], ['A', 'C'], ['E', 'F']]}

In [145]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

# Load the purchase history data into a DataFrame

purchase_history = pd.DataFrame(data)

# Count the number of purchases for each user and product combination
purchase_counts = purchase_history.explode('productos').groupby(['cod_persona', 'productos']).size().unstack(fill_value=0)

# Convert the purchase counts to a sparse matrix
sparse_purchase_counts = sparse.csr_matrix(purchase_counts)

# Compute the cosine similarity matrix between the products
cosine_similarities = cosine_similarity(sparse_purchase_counts.T)

# Define a function to recommend items for a user based on their purchase history
def recommend_items(user_id, n=5):
    # Get the user's purchase history
    user_history = sparse_purchase_counts[user_id].toarray().flatten()

    # Compute the cosine similarity between the user's purchased items and all other items
    similarities = cosine_similarities.dot(user_history)

    # Get the indices of the user's purchased items
    purchased_indices = np.where(user_history > 0)[0]

    # Set the similarity scores for purchased items to 0
    similarities[purchased_indices] = 0

    # Sort the items by similarity score and return the top n items
    recommended_indices = np.argsort(similarities)[::-1][:n]
    recommended_items = list(purchase_counts.columns[recommended_indices])
    
    # Remove the items that the user has already purchased
    purchased_items = list(purchase_counts.columns[purchase_counts.loc[user_id] > 0])
    recommended_items = [item for item in recommended_items if item not in purchased_items]

    # Return also the similarity scores for recommended items
    similarity_scores = similarities[recommended_indices]

    return recommended_items, similarity_scores

In [146]:
recomendacion(1)

TypeError: 'frozenset' object is not callable

In [140]:
data[data['cod_persona']==33841]

,cod_persona,mes,pais,sexo,edad,fecha1,xti_empleado,xti_nuevo_cliente,num_antiguedad,xti_rel,...,ind_prod17,ind_prod18,ind_prod19,ind_prod20,ind_prod21,ind_prod22,ind_prod23,ind_prod24,ind_prod25,productos
2692,33841,2015-12-28,ES,V,44,2015-12-29,N,1.0,0,1.0,...,0,0,0,0,0,0.0,0.0,0,0,[]
2693,33841,2016-01-28,ES,V,44,2015-12-29,N,1.0,1,1.0,...,0,0,0,0,0,0.0,0.0,0,0,[]
2694,33841,2016-02-28,ES,V,44,2015-12-29,N,1.0,2,1.0,...,0,0,0,0,0,0.0,0.0,0,0,[]
2695,33841,2016-03-28,ES,V,44,2015-12-29,N,1.0,3,1.0,...,0,0,0,0,0,0.0,0.0,0,0,[]
2696,33841,2016-04-28,ES,V,44,2015-12-29,N,1.0,4,1.0,...,0,0,0,0,0,0.0,0.0,0,0,[]